

/*******************************************************
  Style My Theme
********************************************************/

$linkColor			: $color1;
$linkColor2			: $color2;
$background		        : $color1;
$background2		        : $color2;
