

.sp-mostviewed .owl-stage-outer {
    overflow: hidden;
    position: relative;
}

div.most-view {
  margin: 0 0 20px;
  background: #fff;
  box-shadow: 0px 0px 6px 0 rgba(0, 0, 0, 0.15);
  -ms-box-shadow: 0px 0px 6px 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 0px 6px 0 rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0px 0px 6px 0 rgba(0, 0, 0, 0.15);
  position: relative;
  border-radius: 3px; }
  div.most-view .spmostviewed-heading {
    padding: 65px 25px 0; }
    div.most-view .spmostviewed-heading h3 {
      font-size: 14px;
      color: #222;
      font-weight: 700;
      text-transform: uppercase;
      line-height: 18px; }
  div.most-view .sp-mostviewed {
    padding: 0;
    position: static; }
  div.most-view .sp-mostviewed .spmostviewed-slider {
    position: static; }
    div.most-view .sp-mostviewed .spmostviewed-slider .item img {
      width: 100%;
      border-radius: 3px;
      border: 1px solid #ebebeb;
      transition: all 0.3s ease 0s; }
  div.most-view .sp-mostviewed .spmostviewed-item .item {
    margin: 0;
    display: inline-block;
    padding: 20px;
    position: relative;
    border-left: 1px solid #ebebeb; }
    div.most-view .sp-mostviewed .spmostviewed-item .item h3.product-title {
      margin: 0;
      opacity: 1; }
      div.most-view .sp-mostviewed .spmostviewed-item .item h3.product-title a {
        font-weight: bold;
        font-size: 12px;
        color: #222;
        text-transform: uppercase;
        display: block;
        transition: all 0.3s ease 0s; }
    div.most-view .sp-mostviewed .spmostviewed-item .item .product-number-views {
      margin-bottom: 14px;
      font-size: 12px;
      color: #666; }
  div.most-view .sp-mostviewed .owl-controls .owl-next {
    left: 50px;
    right: auto; }
  div.most-view .sp-mostviewed .owl-controls .owl-prev {
    right: auto;
    left: 20px; }

.sp-mostviewed .owl-stage-outer {
  direction: ltr; }
.sp-mostviewed .owl-controls .owl-next, .sp-mostviewed .owl-controls .owl-prev {
  position: absolute;
  top: 50%;
  font-size: 16px;
  transition: all 0.3s ease 0s;
  display: block;
  height: 25px;
  width: 25px;
  line-height: 23px;
  border-radius: 50%;
  color: #222;
  background: #e1e1e1;
  text-align: center;
  overflow: hidden;
  cursor: pointer; }
  .sp-mostviewed .owl-controls .owl-next:hover, .sp-mostviewed .owl-controls .owl-prev:hover {
    color: #fff; }

.moduletable {
  clear: both;
  direction: ltr; }

@media all and (min-width: 1200px) {
  div.most-view:before {
    content: "\f105";
    font-family: fontawesome;
    font-size: 18px;
    color: #f2f2f2;
    line-height: 8px;
    background: #fff;
    position: absolute;
    left: 11.9%;
    top: 48%;
    bottom: auto;
    right: auto;
    z-index: 4; }
  div.most-view .spmostviewed-heading {
    width: 11.9%; }
  div.most-view .sp-mostviewed {
    width: 88.1%; }

  .lang-rtl div.most-view:before {
    content: '\f104';
    right: 11.9%;
    left: auto; } }
.lang_ar .sp-mostviewed .control-button .preview {
  right: inherit !important;
  left: 0; }

.lang_ar .sp-mostviewed .control-button .next {
  right: inherit !important;
  left: 30px; }

.lang_ar .sp-mostviewed .page-button.middle .control-button .next {
  right: 0;
  left: inherit; }

.moduletable.displayTop {
  padding: 25px 15px 15px 15px; }

.spmostviewed-heading {
  padding: 5px; }

.sp-mostviewed .quick-view-wrapper-mobile {
  display: none; }

@media all and (max-width: 320px) {
  .moduletable .sp-mostviewed .spmostviewed-slider {
    padding: 0 8px; }

  .sp-mostviewed .quick-view-wrapper-mobile {
    display: block; } }
@media all and (max-width: 479px) {
  .moduletable .sp-mostviewed .spmostviewed-slider {
    padding: 0 8px; }

  .sp-mostviewed .quick-view-wrapper-mobile {
    display: block; } }
@media all and (min-width: 480px) and (max-width: 767px) {
  .sp-mostviewed .quick-view-wrapper-mobile {
    display: block; } }
/*################################# End css Device #############################################*/
.sp-mostviewed {
  position: relative; }

.sp-mostviewed.sp-preload {
  height: 300px;
  position: relative;
  overflow: hidden; }

.sp-mostviewed.sp-preload .sp-loading {
  position: relative;
  z-index: 10;
  background: url(../img/loading.gif) no-repeat scroll center center #FFF;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%; }

.sp-mostviewed .spmostviewed-slider {
  position: relative;
  z-index: 8; }

.sp-mostviewed .spmostviewed-slider .item {
  background-size: 100% 100%; }

.sp-mostviewed .spmostviewed-slider .item img {
  width: 100%;
  vertical-align: middle; }

.sp-mostviewed .spmostviewed-slider .item img:hover {
  cursor: pointer; }

/*#################################################### css for hearder #############################################*/
.page-title-spmostviewed-slider {
  color: #2E2C2D;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: bold;
  /* 	float: left; */
  overflow: hidden;
  width: 75%;
  margin: 10px 0 8px 0px; }

.sp-mostviewed .spmostviewed-slider .item-info .item-title {
  margin-bottom: 5px;
  text-transform: uppercase; }

.sp-mostviewed .spmostviewed-slider .item-info .item-title a:hover {
  color: #f96a6e; }

/*############################################### css for botton #################################################*/
.sp-mostviewed .item-review {
  margin: 0 0 5px 0;
  line-height: 22px; }

.sp-mostviewed .item-review .ratings .rating-links,
.sp-mostviewed .item-review .ratings {
  margin: 0 0 0 0; }

.sp-mostviewed .add-to-links {
  list-style: none outside none;
  margin: 0;
  padding: 0; }

.sp-mostviewed .ratings .rating-box {
  margin-right: 5px; }

.sp-mostviewed .item-review {
  vertical-align: middle;
  overflow: hidden; }

.sp-mostviewed .item-btn-addtocart {
  margin-bottom: 5px; }

.sp-mostviewed .wishlist {
  margin: 10px 0px; }

.sp-mostviewed .compare {
  margin-bottom: 10px; }

.pretext-spmostviewed-slider {
  margin: 10px 0px 10px 0px; }

.postext-spmostviewed-slider {
  margin: 10px 0px 10px 0px; }

.sp-mostviewed .compare,
.sp-mostviewed .wishlist {
  margin: 5px 0 5px 0; }

.cf:before,
.cf:after {
  content: " ";
  display: table; }

.cf:after {
  clear: both; }

.sp-mostviewed .item-info .content_price {
  margin-bottom: 10px; }

.sp-mostviewed .item-info.item-spotlight .price.product-price {
  line-height: 30px;
  color: #FFF; }

.sp-mostviewed .item-info.item-spotlight .old-price {
  color: #DDD; }

.sp-mostviewed a.quick-view:hover {
  cursor: pointer; }

.sp-mostviewed .spmostviewed-slider .item-img {
  padding: 9px;
  position: relative; }

.sp-mostviewed .spmostviewed-item .item {
  position: relative;
  margin: 10px; }

.sp-mostviewed a.quick-view, .sp-mostviewed .compare, .sp-mostviewed .wishlist {
  display: none; }

.sp-mostviewed .spmostviewed-item .item:hover a.quick-view {
  cursor: pointer;
  display: block;
  text-align: center;
  background: none repeat scroll 0 0 rgba(255, 255, 255, 0.82);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.16);
  color: #777676;
  font: 700 13px/16px Arial, Helvetica, sans-serif;
  height: 43px;
  left: 50%;
  margin: -21px 0 0 -53px;
  padding: 13px 0 0;
  position: absolute;
  top: 45%;
  width: 107px;
  text-decoration: none; }

.sp-mostviewed .spmostviewed-item .item:hover .wishlist {
  font: 700 13px/16px Arial, Helvetica, sans-serif;
  display: block;
  color: #777676;
  position: absolute;
  left: 50%;
  top: 40%;
  margin: -21px 0 0 -53px;
  padding: 13px 0 0;
  background: rgba(255, 255, 255, 0.82);
  width: 107px;
  height: 43px;
  text-align: center;
  -moz-box-shadow: rgba(0, 0, 0, 0.16) 0 2px 8px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0 2px 8px;
  box-shadow: rgba(0, 0, 0, 0.16) 0 2px 8px; }

.sp-mostviewed .spmostviewed-item .item:hover .compare {
  font: 700 13px/16px Arial, Helvetica, sans-serif;
  display: block;
  color: #777676;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -21px 0 0 -53px;
  padding: 13px 0 0;
  background: rgba(255, 255, 255, 0.82);
  width: 107px;
  height: 43px;
  text-align: center;
  -moz-box-shadow: rgba(0, 0, 0, 0.16) 0 2px 8px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0 2px 8px;
  box-shadow: rgba(0, 0, 0, 0.16) 0 2px 8px; }

.sp-mostviewed .quick-view-wrapper-mobile {
  background-color: transparent;
  bottom: 0;
  height: 155px;
  overflow: hidden;
  position: absolute;
  right: 0;
  width: 215px;
  z-index: 2; }

.sp-mostviewed .quick-view-wrapper-mobile a {
  background-color: rgba(208, 208, 211, 0.57);
  display: block;
  height: 130px;
  pointer-events: all;
  position: relative;
  right: -162px;
  top: 80px;
  transform: rotate(45deg);
  width: 85px;
  opacity: 0.5; }

.sp-mostviewed .quick-view-wrapper-mobile a:hover {
  background-color: rgba(125, 125, 125, 0.57); }

.sp-mostviewed .quick-view-wrapper-mobile a i {
  bottom: 0;
  color: black;
  display: inline-block;
  font-size: x-large;
  height: 22px;
  left: 9px;
  overflow: hidden;
  position: absolute;
  right: 10px;
  top: 46px;
  transform: rotate(-44deg);
  width: 30px;
  z-index: 2; }

.sp-mostviewed .new-box {
  left: 0px;
  top: 0px;
  z-index: 2; }

.sp-mostviewed .sale-box {
  right: 0px;
  top: 0px;
  z-index: 2; }

.spmostviewed-time {
  float: right; }

.spmostviewed-time .item-timer .time-item {
  float: left;
  border: 1px solid #e3e3e3;
  float: left;
  padding: 10px;
  margin-left: 5px; }

.spmostviewed-time .num-time {
  float: left;
  margin-right: 2px; }

.spmostviewed-time .name-time {
  float: left; }

/*# sourceMappingURL=styles.css.map */
