/*******************************************************
    SP Deals Style
********************************************************/
.sp-deal {
    .product-listing {margin-bottom: 50px;
		.product-info  {text-align: left;padding: 0;
			.item-time {
				.label-timer {color: #ff5555;text-transform: uppercase;margin-bottom: 15px;}
				.item-timer {font-size: 0;border-bottom: solid 1px #eee;padding-bottom: 15px;margin-bottom: 20px;
					.time-item {display: inline-block;padding: 0 18px 0 0;margin: 0 12px 0 0;position: relative;text-align: center;
						&:after {content: ":";font-size: 22px;position: absolute;right: 0;top: 0;display: block;color: #222;}
						&.time-sec {padding: 0;margin: 0;
							&:after {display: none;}
						}
						.num-time {color: #222222;font-size: 22px;font-weight: 500;padding-bottom: 7px;}
						.name-time {color: #999999;font-size: 12px;}
					}
				}
			}
			h5.product-title a {font-size: 18px;}
			.product-description {line-height: 22px;margin-bottom: 20px;
				p {margin: 0;}
			}
			.product-price-and-shipping {margin-bottom: 30px;
				.regular-price {padding: 0;}
				.price {padding: 0 5px;font-size: 20px;}
			}
		}
	}
	.owl-controls {position: absolute;right: 0;top: 0;z-index: 4;}
}