/*******************************************************
    SP Banner Style
********************************************************/

//-- Block Banner1
.banner1 {overflow: hidden;margin-bottom: 14px;
	.banner-img1 {float: left;width: calc(50% - 7px);}
	.banner-img2 {float: right;width: calc(50% - 7px);}
}

//-- Block Banner2
.banner2 {overflow: hidden;margin-bottom: 50px;
	.banner-img1 {float: left;margin: 0 14px 0 0;}
	.banner-img2 {float: left;margin: 0 14px 0 0;}
	.banner-img3 {float: left;}
}