/*******************************************************
    SP Manufacturer Style
********************************************************/
.sp-manu-slider {padding: 20px 0 10px;
	.owl-controls {position: absolute;right: 0;top: 0;z-index: 4;}
}