/*******************************************************
  SP FooterLinks Module Style
********************************************************/
#newsletter_block_home {
  margin: 0; }
  #newsletter_block_home h3.title_block, #newsletter_block_home form {
    display: inline-block; }
  #newsletter_block_home h3.title_block {
    font-weight: 400;
    font-size: 12px;
    text-transform: uppercase;
    margin: 3px 0 0 0;
    vertical-align: middle;
    color: #fff; }
    #newsletter_block_home h3.title_block .fa {
      font-size: 26px;
      margin-right: 5px; }
    #newsletter_block_home h3.title_block strong {
      font-weight: 600;
      font-size: 14px; }
  #newsletter_block_home form {
    margin: 0;
    width: auto;
    border-radius: 50px;
    background: #fff;
    vertical-align: middle; }
  #newsletter_block_home .form-group {
    margin: 0;
    height: 40px;
    padding: 0 60px 0 0;
    position: relative; }
    #newsletter_block_home .form-group .button {
      width: auto;
      padding: 0 20px;
      height: 100%;
      border-radius: 0px 40px 40px 0;
      position: absolute;
      background: transparent;
      text-transform: uppercase;
      font-weight: bold;
      right: 0;
      top: 0;
      text-align: center;
      font-size: 12px;
      color: #555; }
    #newsletter_block_home .form-group .newsletter-input {
      height: 100%;
      border: none;
      background: transparent;
      color: #555;
      font-size: 12px;
      width: 100%;
      font-weight: normal;
      padding: 0 25px; }
    #newsletter_block_home .form-group input::-webkit-input-placeholder {
      color: #8c8c8c; }
    #newsletter_block_home .form-group input::-moz-placeholder {
      color: #8c8c8c; }
    #newsletter_block_home .form-group input:-moz-placeholder {
      color: #8c8c8c; }
    #newsletter_block_home .form-group input:-ms-input-placeholder {
      color: #8c8c8c; }

#newsletter_block_home.new-letter-2 {
  width: 83%;
  float: left; }
  #newsletter_block_home.new-letter-2 h3.title_block {
    color: #222; }
  #newsletter_block_home.new-letter-2 form {
    border: 1px solid #ebebeb; }
  #newsletter_block_home.new-letter-2 .form-group .button {
    color: #fff;
    height: 41px;
    top: -1px;
    right: -1px;
    bottom: -1px; }

#newsletter_block_popup {
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10; }
  #newsletter_block_popup:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: #000;
    opacity: 0.67; }
  #newsletter_block_popup .close {
    display: block;
    height: 31px;
    width: 31px;
    background-image: url(../../../assets/img/icon_close.png);
    background-repeat: no-repeat;
    background-position: center center;
    position: absolute;
    top: -31px;
    right: 0;
    opacity: 1;
    cursor: pointer; }
  #newsletter_block_popup .block_content {
    background: #fff;
    width: 62.3%;
    height: 500px;
    padding: 15px;
    position: fixed;
    left: 20%;
    z-index: 11;
    top: 70px; }
    #newsletter_block_popup .block_content .content-inner {
      padding: 0 22px 0 417px;
      height: 100%;
      float: left;
      width: 100%;
      display: block;
      text-align: center;
      position: relative; }
      #newsletter_block_popup .block_content .content-inner:before {
        content: "";
        display: block;
        width: 385px;
        height: 100%;
        background: url(../../../assets/img/bg_popup.jpg) no-repeat left center;
        background-size: 100% 100%;
        position: absolute;
        left: 0;
        top: 0; }
      #newsletter_block_popup .block_content .content-inner h3.title {
        font-size: 36px;
        color: #222;
        margin: 100px 0 15px; }
      #newsletter_block_popup .block_content .content-inner p {
        font-size: 14px;
        color: #666;
        font-weight: normal;
        margin-bottom: 30px;
        line-height: 1.7em; }
      #newsletter_block_popup .block_content .content-inner form {
        margin: 0 0 30px;
        width: 100%; }
      #newsletter_block_popup .block_content .content-inner .form-group {
        margin: 0;
        height: 40px;
        padding: 0 120px 0 0;
        position: relative;
        background: #fff; }
        #newsletter_block_popup .block_content .content-inner .form-group .button {
          width: 121px;
          height: 100%;
          position: absolute;
          right: 0;
          top: 0;
          padding: 0;
          text-align: center;
          font-size: 12px;
          text-transform: uppercase;
          font-weight: bold;
          color: #fff; }
        #newsletter_block_popup .block_content .content-inner .form-group .newsletter-input {
          height: 100%;
          border: none;
          background: transparent;
          color: #b2b2b2;
          font-size: 13px;
          width: 100%;
          font-weight: 300;
          padding: 0 20px;
          border: solid 1px #cbcbcb; }
      #newsletter_block_popup .block_content .content-inner .msg {
        margin-bottom: 25px; }
        #newsletter_block_popup .block_content .content-inner .msg .ckmsg {
          vertical-align: middle; }
        #newsletter_block_popup .block_content .content-inner .msg .checker {
          display: inline-block;
          margin: 0 5px; }
        #newsletter_block_popup .block_content .content-inner .msg label {
          display: inline-block;
          font-weight: normal;
          font-size: 12px; }
      #newsletter_block_popup .block_content .content-inner .sharing-buttons {
        border: none;
        padding: 0;
        margin: 0; }
        #newsletter_block_popup .block_content .content-inner .sharing-buttons a {
          display: inline-block;
          height: 30px;
          width: 30px;
          border-radius: 50%;
          text-align: center;
          border: 1px solid #edecec;
          margin: 0 3px;
          line-height: 28px;
          background: #fff;
          color: #555;
          font-size: 12px;
          transition: all 0.3s ease 0s; }
          #newsletter_block_popup .block_content .content-inner .sharing-buttons a:hover {
            color: #fff; }

.footer-v3 #newsletter_block_home.new-letter-2 form {
  width: 100%; }
.footer-v3 #newsletter_block_home.new-letter-2 .form-group {
  padding: 0 100px 0 0; }
  .footer-v3 #newsletter_block_home.new-letter-2 .form-group .button {
    padding: 0 44px; }

@media (min-width: 1500px) {
  #newsletter_block_popup .block_content {
    top: 150px;
    width: 43.6%;
    left: 28%; }

  .footer-v3 #newsletter_block_home.new-letter-2 .text {
    width: 40%; }
  .footer-v3 #newsletter_block_home.new-letter-2 .form {
    width: 60%; } }
@media (min-width: 1200px) {
  #newsletter_block_home.new-letter-2 .text {
    width: 60%; }
  #newsletter_block_home.new-letter-2 .form {
    width: 40%; } }
@media (min-width: 992px) and (max-width: 1199px) {
  div#newsletter_block_home h3.title_block {
    font-size: 12px; }

  #newsletter_block_home.new-letter-2 {
    width: 78%; }

  #newsletter_block_popup .block_content {
    width: 80%;
    left: 10%; }

  .lang-rtl div#newsletter_block_home h3.title_block {
    margin: 0 0 20px; } }
@media (max-width: 991px) {
  #newsletter_block_home.new-letter-2 {
    width: 100%;
    float: none;
    margin-bottom: 20px; }
    #newsletter_block_home.new-letter-2 h3.title_block {
      font-size: 12px; }

  .footer-v3 #newsletter_block_home.new-letter-2 .form-group {
    padding: 0 40px 0 0; }
    .footer-v3 #newsletter_block_home.new-letter-2 .form-group .button {
      padding: 0 20px; }

  #newsletter_block_popup .block_content {
    width: 90%;
    left: 5%; }
    #newsletter_block_popup .block_content .content-inner {
      padding: 0 22px 0 315px; }
    #newsletter_block_popup .block_content .content-inner:before {
      width: 300px;
      background-size: auto; } }
@media (max-width: 767px) {
  div#newsletter_block_home {
    text-align: center; }
    div#newsletter_block_home h3.title_block {
      margin: 0 0 30px; }

  #newsletter_block_popup {
    display: none; }

  .lang-rtl div#newsletter_block_home h3.title_block {
    margin: 0 0 20px; } }

/*# sourceMappingURL=spblocknewsletter.css.map */
