
//-- SP HomeSlider
.sphomepage-slider {overflow: hidden;border-radius: 5px;position: relative;
	.owl-controls {
		.owl-nav {
			.owl-prev, .owl-next {display: block;height: 42px;width: 42px;background: rgba(0,0,0,0.3);position: absolute;top: calc(50% - 21px);z-index: 3;font-size: 20px;color: #fff;line-height: 42px;text-align: center;transition: 0.3s all ease 0s;margin: 0;}
			.owl-prev {left: 0;border-radius: 0 3px 3px 0;}
			.owl-next {right: 0;border-radius: 3px 0 0 3px;}
		}
		.owl-dots {display: block !important;position: absolute;bottom: 30px;left: 0;right: 0;text-align: center;z-index: 3;
			.owl-dot {display: inline-block;height: 10px;width: 10px;background: #fff;border-radius: 50%;margin: 0 10px;box-shadow: 1px 1px 2px #999;vertical-align: middle;transition: 0.3s all ease 0s;
				&.active {height: 16px;width: 16px;}
			}
		}
	}
}