.ui-menu .ui-menu-item a span.images img {
  max-width: 40px !important; }
.ui-menu .ui-menu-item a span {
  font-size: 12px; }

.header-top-right:after {
  content: "";
  display: table;
  clear: both; }

.spSearchPro {
  height: 40px;
  cursor: pointer;
  position: relative;
  float: none;
  width: 100%;
  text-align: left;
  border: 1px solid #ebebeb;
  border-radius: 25px; }
  .spSearchPro .sprsearch-form {
    width: 100%;
    display: block;
    font-size: 0;
    margin: 0; }

.spr_selector {
  position: relative;
  padding: 0;
  width: 28%;
  border-radius: 38px 0 0 38px;
  height: 38px;
  background: #fff;
  display: inline-block;
  border-right: 1px solid #ebebeb;
  vertical-align: top;
  font-size: 12px; }
  .spr_selector label {
    position: absolute;
    margin: 0;
    top: 0;
    right: 0;
    font-size: 12px;
    text-align: center;
    z-index: 2;
    pointer-events: none;
    cursor: pointer;
    background: #fff;
    width: 40px;
    height: 100%;
    line-height: 36px;
    height: 38px; }
  .spr_selector .spr_select {
    border: none;
    box-shadow: none;
    position: relative;
    z-index: 1;
    height: 100%;
    width: 100%;
    background: transparent;
    color: #555;
    padding: 10px 15px;
    cursor: pointer;
    outline: none; }

.content-search {
  position: relative;
  width: 72%;
  display: inline-block;
  border-radius: 0 38px 38px 0; }
  .content-search .spr-query {
    width: 100%;
    box-shadow: none;
    font-size: 12px;
    font-weight: normal;
    background: #fff;
    border-radius: 0;
    height: 38px;
    border: 1px solid transparent;
    padding: 0 20px;
    color: #555;
    border-radius: 25px; }
  .content-search .ac_results {
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    border: 0;
    width: 100%;
    margin-top: 1px;
    z-index: 10; }
    .content-search .ac_results > ul {
      border: 1px solid #ebebeb;
      margin-bottom: 0; }
    .content-search .ac_results li {
      padding: 10px; }
      .content-search .ac_results li img {
        margin: 0 10px; }

.spSearchPro .spr-search-button {
  font-size: 14px;
  border: none;
  position: absolute;
  height: 36px;
  background: transparent;
  left: auto;
  right: 20px; }

.header_v2 .spSearchPro, .header_v3 .spSearchPro {
  margin: 0;
  background: transparent;
  border: none;
  border-radius: 0;
  height: 31px; }
  .header_v2 .spSearchPro .spr_selector, .header_v3 .spSearchPro .spr_selector {
    padding: 0;
    height: 30px;
    width: 31%;
    background: #fff;
    overflow: hidden;
    border-radius: 3px 0 0 3px; }
    .header_v2 .spSearchPro .spr_selector .searchproLabel, .header_v3 .spSearchPro .spr_selector .searchproLabel {
      height: 30px;
      width: 100%;
      padding: 0 25px;
      font-size: 14px;
      font-weight: 400;
      color: #fff;
      background: transparent; }
    .header_v2 .spSearchPro .spr_selector .spr_select, .header_v3 .spSearchPro .spr_selector .spr_select {
      height: 30px;
      width: 100%;
      padding: 0 8px;
      font-size: 12px;
      font-weight: 400;
      color: #555; }
    .header_v2 .spSearchPro .spr_selector label, .header_v3 .spSearchPro .spr_selector label {
      width: 26px;
      height: 30px;
      line-height: 27px; }
  .header_v2 .spSearchPro .content-search, .header_v3 .spSearchPro .content-search {
    background: #fff;
    height: 30px;
    width: 69%;
    padding: 0;
    overflow: hidden;
    border-radius: 0 3px 3px 0; }
    .header_v2 .spSearchPro .content-search .spr-query, .header_v3 .spSearchPro .content-search .spr-query {
      height: 30px;
      padding: 0 10px;
      border-radius: 0;
      background: transparent;
      color: #222; }
  .header_v2 .spSearchPro .spr-search-button, .header_v3 .spSearchPro .spr-search-button {
    width: 40px;
    height: 30px;
    background: #222;
    right: 0;
    top: 0;
    padding: 0;
    border-radius: 0 3px 3px 0;
    font-size: 14px;
    color: #fff; }

.header_v3 .spSearchPro .spr_selector {
  width: 21%;
  height: 40px; }
  .header_v3 .spSearchPro .spr_selector .spr_select {
    height: 40px;
    padding: 0 20px; }
  .header_v3 .spSearchPro .spr_selector label {
    height: 40px;
    line-height: 37px; }
.header_v3 .spSearchPro .content-search {
  width: 75%;
  height: 40px; }
  .header_v3 .spSearchPro .content-search .spr-query {
    height: 40px;
    padding: 0 20px; }
.header_v3 .spSearchPro .spr-search-button {
  width: 115px;
  height: 40px;
  font-size: 12px; }
  .header_v3 .spSearchPro .spr-search-button .fa {
    margin: 0 3px;
    font-size: 12px;
    line-height: 40px; }

@media (max-width: 991px) {
  .spSearchPro .spr-container .spr_selector {
    display: none; }
  .spSearchPro .spr-container .content-search {
    width: 100%; }

  .header_v2 .spSearchPro .spr-container .content-search {
    width: calc(100% - 40px); } }
@media (max-width: 767px) {
  .header_v3 .spSearchPro .spr-search-button {
    width: 40px;
    font-size: 0; }
    .header_v3 .spSearchPro .spr-search-button .fa {
      font-size: 12px; } }

/*# sourceMappingURL=style.css.map */
